.row{
    margin-top: 10px;
}
.logo{
    float: center;
    margin-left: 550px;
}
.tittle{
    text-align: center;
  
}
.picture{
    padding-left: 10px;
    margin-left: 10px;
}
.tex{
    text-align: center;
}